
<%= form_for @studentreport do |f| %>

  <% if  @studentreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( @studentreport.errors.count, "error") %> 
        prohibited this class from being saved:</h2>

      <ul>
        <%  @studentreport.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :student_name, "select name" %>
    <%= f.select :user_id, options_for_select([["select", ""]]+ User.all.map{|a| [a.first_name,a.id]}) %>
  </div>
  <div>
    <%= f.label :mark %>
    <%= f.text_field :mark %>

  </div>
  <div>
    <%= f.label :total %>
    <%= f.text_field :total %>
  </div>
  <div>
    <%= f.fields_for :studentreportfileuploads, :html => {:multipart => true} do |ff| %>
      <%= ff.file_field :document %>
    <% end %> 

  </div>

  <div> 
    <%=  f.submit{@studentreport.new_record? ? "save" : "update" }%>   
  </div> 

<%  end %>