<%= link_to "back",profiles_path(:school_name => current_user.school_admin.school)  %>
<div id="Tweet-summary" style="float: left;
     left: 14px;top: 3px;
     position: relative;
     width: 100%;">
  <div id="title">Students Mark List</div>

  <% if @studentreports.present? %>
    <table border="1" width="100%">
      <tr>
        <th>StudentName</th>
        <th>Exam Name</th>
        <th>mark</th>
        <th>total</th>
        <th>DownloaduploadingFiles</th>

        <th></th>
      </tr>
      <% @studentreports.each do |user| %>
        <tr style="text-align: center;">
          <td><%= user.user.try(:first_name )%></td>
          <td><%= user.user.try(:exam_name) %></td>
          <td><%= user.mark %></td>
          <td><%= user.total %></td>
          <% if user.studentreportfileuploads.first.present? %>
            <td><%= link_to image_tag(user.studentreportfileuploads.first.document.url(:thumb)), user.studentreportfileuploads.first.document.url %></td>
          <% end %>
          <td>
            <%= link_to 'Show' , student_report_path %>|
            <%= link_to 'edit' , student_reports_path %>|         
            <%= link_to 'delete' ,  student_reports_path %>|  


    <%#= link_to 'Edit' , edit_class_path(:school_name => current_user ? (current_user.school_admin.school) : (current_school_admin.school),:id=>user.id) %>|
    <%#=link_to 'edit', edit_classpath(school_name =>user.user.school_admin.school,:id=>user.id)%>
    <%#=  link_to "delete", class_path(:school_name => current_user ? (current_user.school_admin.school) : (current_school_admin.school),:id=>user.id
    ), :method=>:delete,:data=>{:confirm=>"are u sure?"}%> 


    <%#= link_to 'join' , join_class_path(:school_name => current_user.school_admin.school,:id =>user.id) %>|

    <%#= user.join == false ? (link_to "join", manage_join_class_path(:id =>user.id)) : "Joined" %>



          </td>
        </tr>
      <% end %>
    </table>
  </div><br />
  <%= link_to "Sem1",new_student_report_path %>
<% end  %>